<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                What's the weather like?
            </h1>
        </div>
    </div>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input class="form form-control" type="text" placeholder="Search" aria-label="Search" name="search_city">

                    </div>
                    <div class="form-group">
                        <button class="form btn btn-primary form-control" type="submit">Search</button>

                    </div>
                    </div>
                </form>
                    <div class="col-md-3 ">
                        <div class="card">
                            <div class="card-header bg-primary">
                                <center>
                                     <strong class="text-light">{{city_data.city}}</strong> 
                                </center>
                            </div>
                            <div class="card-body">
                                <center>
                                <p> <strong>Temperature:</strong>  &nbsp;{{ city_data.temperature}} Cº</p>
                                <span> <strong>Description:</strong> {{city_data.description}}</span> <br>
                                <img src="http://openweathermap.org/img/w/{{city_data.icon}}.png" alt="image">
                                </center>
                            </div>
                        </div>
                    
                    </div>
                    </div>
                    </div>

    

    <footer class="footer">
    </footer>
</body>

</html>